*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: black;
}
.eyelid{
    background-color: rgb(255, 255, 255);
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  0px 400px / 180px;
    transform: rotate(-5deg);
    border:solid black 5px;
    animation: openClose 3s infinite;
}

@keyframes openClose{
    0%{
        height: 180px;
    }
    20%{
        height: 220px;
    }
    100%{
        height: 180px;
    }

}

.eye{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid black 6px;
    animation: change infinite 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}



.iris{
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

@keyframes change{
    0%{
        background-color: rgb(163, 30, 30);
        transform: rotateZ(0deg);
    }
    50%{
        background-color: rgb(163, 30, 30);
        /* transform: rotateZ(180deg); */
    }
    100%{
        background-color: rgb(163, 30, 30);
        transform: rotateZ(360deg);
    }
}

.topDot{
    width: 10px;
    height: 16px;
    background-color: black;
    position: absolute;
    top:10px;
    left: 67px;
    border-radius: 50px;
}
.topDot2{
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top:10px;
    left: 69px;
    border-radius: 50px;
}

.topDot:after{
    content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      border: 5px solid rgb(163, 30, 30);
      border-radius: 50%;
      width: 0px;
      height: 0px;
      box-sizing: content-box;
}

.top{
    transform: rotate(180deg);
    position: absolute;
    top:35px;
    left: 145px;
}

.bottomDotSecond{
    position: absolute;
    left: -10px;
    bottom: 110px;
    transform: rotate(48deg);
}

.bottomDotFirst{
    position: absolute;
    left: 45px;
    bottom: -5px;
    transform: rotate(-48deg)
}